%header.row
  %h1.inset-text-shadow.primary.twelvecol= t('.users_list')

%section.row
  .twelvecol
    .paginate
      - @users.each do |user|
        .user_list_item
          = link_to edit_admin_user_path(user) do
            = user.info['name']
            = "(#{user.info['email']})"
