!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "RailsBaseApp"
    = csrf_meta_tags unless @disable_csrf_token

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    = stylesheet_link_tag "application", :media => "all"

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/

    / Removes the pesky facebook #_=_ from the url
    = javascript_tag "if (window.location.hash == '#_=_') window.location.hash = '';"

  %body
    .container-fluid#wrapper
      .row-fluid
        .span12.main-content
          = yield

    = javascript_include_tag "application"
    = yield :js if content_for? :js
